@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.title-text {
  font-size: 40px;
  -webkit-text-fill-color: deepskyblue;
}

ul[title]::before {
  content: attr(title);
  /* then add some nice styling as needed, eg: */
  display: block;
  font-weight: bold;
  padding: 4px;
}

.button {
  background-color: navy;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

/* .center {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  margin: auto;
  margin-left: auto; 
  margin-right: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 500px;
  background-color: hsl(0, 89%, 45%);
  border-radius: 3px;
} */

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
}

#info {
  position: absolute;
  display: inline-block;
  height: auto;
  width: auto;
  z-index: 100;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  left: 50%;
  transform: translateX(3%);
  visibility: hidden;
  pointer-events: none;
}

.graph-container {
  display: flex;
}

#bar {
  flex: 1;
  width: 50px;
  height: 50px;
  background-color: #FF0000;
}

#pie {
  flex: 1;
  width: 50px;
  height: 50px;
  background-color: #0000FF;
}
